* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Заголовок и навигация */
.site-header {
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
}

.main-nav li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: all .3s ease-in-out;
}

.main-nav li a:hover {
    background-color: #ffdab9;
    color: white;
}

/* Раздел "О проекте" */
.content-section {
    padding: 60px 0;
    text-align: center;
}

.content-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Футер */
.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}